<table>
    <tr>
        <th>写真<img src="/images/foodlimiter.png" /></th>
        <td>名前: <%= name %></td>
        <td>期限: <%= limit %></td>
        <td>
            入力へ
            <img src="/images/foodlimiter.png" class="check"></img></td>
    </tr>
</table>