<!DOCTYPE html>
<html lang=ja>
	<head>
        <meta http-equiv="content-type" content="text/html"; charset="UTF-8">
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/history.css">
	</head>

	<body>
		<div class="titleba">
				<button class="rireki" onclick="location.href='/input'">入力</button>
			<div class="titles"><h1><%= title %></h1></div>
		</div>
        <div class="histories">
            <% for (var i = 0; i < collection.length; i++){ %>
            <%- include("history_items.ejs",collection[i]); %>
            <% } %>
		</div>
		
		<footer>
			<p>&copy; 2019 デザイン情報総合演習 H-1</p>
		</footer>
	</body>
</html>