<table>
    <tr>
        <th>写真<img src="/images/foodlimiter.png"></th>
        <td>名前: <%= name %></td>
        <td>期限 2019/04/19</td>
        <td>
            開封
            <img src="/images/foodlimiter.png" class="check"></img>
        </td>
        <td>
            消費済
            <img src="/images/foodlimiter.png" class="check"></img></td>
        <td>
            外部へ
            <img src="/images/foodlimiter.png" class="check"></img></td>
    </tr>
</table>