<!DOCTYPE html>
<html lang=ja>
	<head>
		<meta http-equiv="content-type" content="text/html"; charset="UTF-8">
		<title><%= title %></title>
		<script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/input.css">
	</head>

	<body>
		<div class="titleba">		
			<div class="titles"><h1><%= title %></h1></div>
		</div>
		<h3>写真</h3>
		<form action="../complete" method="post" enctype="multipart/form-data">
        	<input type="file" accept="image/*" name = "file">    
			<input type="submit" value="送信する" class="finish"></input>
		</form>	
		
		<footer>
			<p>&copy; 2019 デザイン情報総合演習 H-1</p>
		</footer>
	</body>
</html>