@charset "utf-8";
/*====================
スマホを基本設計にする
 - 〜479px：スマートフォン縦
 - 480px〜599px：スマートフォン横
 - 600px〜959px：タブレット
 - 960px〜1279px：小型PC
 - 1280px〜：大型PC
====================*/
body {
    margin: 2%;
    padding: 1%;
    font-family: 'ＭＳ Ｐゴシック','MS PGothic',
    'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',
    'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Roboto',sans-serif;
}

button {
    display: inline-block;
    width: 30%;
    max-width: 30%;
    text-align: left;
    background-color: #ffa300;
    font-size: 100%;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 1% 2%;
    border-radius: 1%;
    border-bottom: 1% solid #d37800;
}

button:active {
    transform: translateY(4px);
    border-bottom: none;
}

div{
    padding: 1%;
}

.back {
    margin-left: 3%;
    float: left;
}

.score {
    display: block;
    margin-left: 70%;
}

.check {
    width: 50%;
    height: 50%;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: 2px #808080 solid;
    font-size: 150%;
}
  
table tr *:nth-child(2){
    display: block;
}
  
table tr *:nth-child(3){
    display: block;
}
  
table tr *:nth-child(4){
    display: inline-block;
}

table tr *:nth-child(5){
    display: inline-block;
}

table tr *:nth-child(6){
    display: inline-block;
}

table th,table td{
    color:#444444;
    border:solid 1px white;
    text-align: center;
    padding: 10px 0;
}

.titleba{
    background-color:#ffc68e;
    margin-left: calc(((100vw - 100%) / 2) * -1);
    margin-right: calc(((100vw - 100%) / 2) * -1);
}

.titles {
    text-align: center;
}

.now {
    font-size: 200%;
    text-align: center;
}

.stoclists{
    font-size: 150%;
    text-align: center;
    
}

@media screen and (max-width:500px) { 
    .now {
        font-size: 150%;
        text-align: center;
    }

    .check {
        width: 30%;
        height: 30%;
    }

    tr {
       display:block;
       margin-bottom: 10px;
    }
      
    table tr *:nth-child(2){
        display: block;
    }
      
    table tr *:nth-child(3){
        display: block;
    }
      
    table tr *:nth-child(4){
        display: inline-block;
    }
    
    table tr *:nth-child(5){
        display: inline-block;
    }

    table tr *:nth-child(6){
        display: inline-block;
    }

    th {
        display:block;
        width: 100%;
    }

    td {
        width: 90%;
        margin-left: 10%;
        border:none;
    }
      
    table th,table td{
        color:#444444;
        border:solid 1px white;
        text-align: center;
        padding: 10px 0;
    }
}

