<!DOCTYPE html>
<html lang=ja>
	<head>
        <meta http-equiv="content-type" content="text/html"; charset="UTF-8">
		<title><%= title %></title>
        <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/stocklist.css">
	</head>

	<body>
		<div class="titleba">
			<div class="move">
                <button class="back" onclick="location.href='/'">戻る</button>
                <button class="score" onclick="location.href='/score'">スコア</button>
			</div>
			
			<div class="titles"><h1><%= title %></h1></div>
		</div>
        
        <div class="now">
            <p>
                今日は<%= now_date %></span>
            </p>
        </div>

        <div class="stocklists">
            <table>
                <tr>
                    <th>写真<img src="foodlimiter.png"></th>
                    <td>名前</td>
                    <td>期限 2019/04/19</td>
                    <td>
                        開封
                        <img src="foodlimiter.png" class="check"></img>
                    </td>
                    <td>
                        消費済
                        <img src="foodlimiter.png" class="check"></img></td>
                    <td>
                        外部へ
                        <img src="foodlimiter.png" class="check"></img></td>
                </tr>
            </table>

        </div>
		
		
		
		<footer>
			<p>&copy; 2019 デザイン総合情報演習 H-1</p>
		</footer>
	</body>
</html>